
body {
    background-color: rgb(116, 144, 100);

}
header {
    font-family:cursive
}
header {font-size: 1.5em;}
header {font-style: italic;}
header { color: rgb(37, 27, 37);}
  
header figure {float: right;
    padding-bottom: 0em; 
    padding-top: 0em
}
nav {float: right;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: bisque;
}
 
